@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #0397ab50;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0397ab50;
}
